html {
    background-color: black;
}

img {
    width: 650px;
    border: 10px solid white;
    padding: auto;
    margin-top: 30px;
    margin-bottom: -90px;
}

.caption {
    color: white;
    text-align: center;
    font-size: 70pt;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: -20px;
}

p {
    color: white;
    text-align: center;
    font-size: 16pt;
    font-family: 'Bebas Neue', sans-serif;
}

.picture {
    text-align: center;
    align-items: center;
}